@import "tailwindcss";

@font-face {
  font-family: 'Batman';
  src: url('/fonts/batmfa__.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'destruct';
  src: url('/fonts/destructobeambb_reg.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}


.batman-font {
  font-family: 'Batman', sans-serif;
}

.destruct-font {
  font-family: 'destruct', sans-serif;
}